$black: #000000;
$white:  #ffffff;

$font-color-black: $black;
$font-color-white: $white;

$header-backgorund: $white;
$body-background: #00D7FF;
$footer-background: $black;

$spinner-background-color: #262020d1;
$modal-outline-background-color: #262020d1;