$header-font-title: normal normal bold 70px/66px Arial;;
$header-font-title-mobile: normal normal bold 28px/31px Arial;;
$footer-font-title: normal normal normal 33px/37px Georgia;
$footer-font: normal normal normal 16px/21px Georgia;
$criterias-font:  -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
$movie-card-font: normal normal normal 28px/31px Georgia;
$movie-card-font-moblie: normal normal normal 19px/23px Georgia;
$movie-rating-font: normal normal normal 25px/31px Arial;
$movie-modal-title-font: normal normal bold 45px/31px Arial;
$movie-modal-title-font-mobile: normal normal bold 30px/31px Arial;
$movie-modal-body-font: normal normal normal 30px/31px Georgia;
$movie-modal-body-font-modal: normal normal normal 19px/21px Georgia